/* styles.module.css */
.container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 높이에 맞게 컨테이너 높이 설정 */
  }
  
  .content {
    text-align: center; /* 내용 가운데 정렬 */
  }
  
  .button {
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트색 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    font-size: 1em; /* 버튼 텍스트 크기 */
    margin: 10px; /* 버튼 간격 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
  }
  
  .button:hover {
    background-color: #0056b3; /* 버튼 호버시 배경색 변경 */
  }
  
  /* 추가 버튼 스타일 */
  .sendTransactionButton {
    background-color: #28a745; /* Send Transaction 버튼 색상 */
  }
  
  .closeButton {
    background-color: #dc3545; /* Close 버튼 색상 */
  }