/* DemoPage.module.css */
.container {
  text-align: center;
  margin-top: 30px;
}

.logo {
  max-width: 300px;
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.button {
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px; /* Apply to all buttons except the last one */
}

/* Remove the margin-right from the last button */
.button:last-child {
  margin-right: 0;
}

.loginButton {
  background-color: #4A90E2;
}

.transactionButton {
  background-color: #34A853;
}